@import "schedule"

#teacher-profile
    #my-info
        img
            padding: 25px
        h5
            text-align: center
    #menu
        margin: 0
        li
            width: 100%
            text-transform: uppercase
            list-style: none
            padding: 5px
            cursor: pointer
            cursor: hand
            i
                margin: 0 12px
    #basic-data
        p
            display: inline
            