<h3>Preguntas Frecuentes</h3>

<accordion close-others="false">
    <accordion-group heading="¿Qué es dirección de origen?">
        Por el momento, nuestros algoritmos de ruteo necesitan la dirección de un único deposito o centro de despacho desde el cual van a salir todas las rutas generadas. Es importante que esta dirección exista de forma valida dentro de la ciudad seleccionada.
    </accordion-group>
    <accordion-group heading="¿Qué es tipo de ruta?">
        <ul>
            <li>Entregas: El cliente necesita que sea entregado algún item.</li>
            <li>Recogida: El cliente necesita que sea recogido algún item.</li>
            <li>
                Recaudo: El cliente necesita que se recoja un monto de dinero específico. Recuerda que el límite por mensajero es de $2’000,000.
            </li>
        </ul>
    </accordion-group>
    <accordion-group heading="¿Qué es tipo de entrega?">
        <ul>
            <li>Personalizada: Implica que el emnsajero debe entregar un elemento especifico a la persona quien recibe la entrega; ejemplo una carta. Este tipo de entrega tiene un recargo adicional.</li>
            <li>Generica: Cualquier elemento puede ser entregado a la persona quien recibe y no genera recargo adicional.</li>
        </ul>
    </accordion-group>
    <accordion-group heading="¿Cómo configurar el tipo de vehiculo?">
        Usted debe seleccionar un tipo de vehiculo predefinido y a continuación puede editar a su preferencia las siguientes propiedades:
        <ul>
            <li>
                Alto
            </li>
            <li>
                Ancho
            </li>
            <li>
                Largo
            </li>
            <li>
                Peso
            </li>
            <li>
                Capacidad mínima
            </li>
            <li>
                Capacidad máxima
            </li>
        </ul>
    </accordion-group>
</accordion>