<div ng-controller="CreateRouteController as vm">

    <div id="create-route">

        <div class="row">
            <div class="large-12 columns">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="#/dashboard">Dashboard</a></li>
                        <li>
                            <span class="show-for-sr">Current: </span> Crear Ruteo
                        </li>
                    </ul>
                </nav>

                <h1>
                    Crear Ruteo
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h2>
                    Detalles del Ruteo
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="small-12 large-6 columns">

                <form name="createRouteForm" novalidate>

                    <div class="row">
                        <div class="large-12 columns">
                            <label for="city">Ciudad
								<select id="city" name="city" ng-model="vm.newRoute.city"
										ng-options="city as city.name for city in vm.cities track by city.id"
										required>
								</select>
              				</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 large-6 columns">
                            <label for="originAddress">Dirección de origen
								<input id="originAddress" name="originAddress" type="text" ng-model="vm.newRoute.originAddress"
									required>
							</label>
                        </div>

                        <div class="small-12 large-6 columns">
                            <label for="clientId">Id del cliente
								<input id="clientId" name="clientId" type="number" ng-model="vm.newRoute.clientId" required>
							</label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="small-12 large-6 columns">
                            <label for="initDate">Fecha de Inicio
								<input id="initDate" name="initDate" type="date" ng-model="vm.newRoute.initDate" required>
							</label>
                        </div>

                        <div class="small-12 large-6 columns">
                            <label for="initHour">Hora de Inicio
								<select id="initHour" name="initHour" ng-model="vm.newRoute.initHour"
										ng-options="initHour as initHour.name for initHour in vm.hourInitTypes track by initHour.id"
										required>
								</select>
							</label>
                        </div>

                    </div>

                    <div class="row">

                        <div class="small-12 large-6 columns">
                            <label for="deliveryType">Tipo de Entrega
                <select id="deliveryType" name="deliveryType" ng-model="vm.newRoute.deliveryType"
                        ng-options="deliveryType as deliveryType.name for deliveryType in vm.deliveryTypes track by deliveryType.id"
                        required>
                </select>
              </label>
                        </div>

                        <div class="small-12 large-6 columns">
                            <label for="routeType">Tipo de Ruta
                <select id="routeType" name="routeType" ng-model="vm.newRoute.routeType"
                        ng-options="routeType as routeType.name for routeType in vm.routeTypes track by routeType.id"
                        required>
                </select>
              </label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label for="vehicleType">Tipo de vehiculo
                <select id="vehicleType" name="vehicleType" ng-model="vm.newRoute.vehicle"
                        ng-options="vehicleType as vehicleType.name for vehicleType in vm.vehicleTypes track by vehicleType.id"
                        required>
                </select>
              </label>
                        </div>
                    </div>

                    <div class="row" ng-if="vm.newRoute.routeType !== undefined && vm.newRoute.routeType.id !== 3">
                        <div class="small-12 large-3 columns">
                            <label for="height">Alto (cm)
                				<input id="height" name="height" ng-model="vm.newRoute.vehicle.height" type="number" required>
              				</label>
                        </div>
                        <div class="small-12 large-3 columns">
                            <label for="width">Ancho (cm)
								<input id="width" name="width" ng-model="vm.newRoute.vehicle.width" type="number" required>
							</label>
                        </div>
                        <div class="small-12 large-3 columns">
                            <label for="deep">Largo (cm)
								<input id="deep" name="deep" ng-model="vm.newRoute.vehicle.deep" type="number" required>
							</label>
                        </div>
                        <div class="small-12 large-3 columns">
                            <label for="weight">Peso (Kg)
								<input id="weight" name="weight" ng-model="vm.newRoute.vehicle.weight" type="number" required>
							</label>
                        </div>
                    </div>

                    <div class="row" ng-if="vm.newRoute.routeType !== undefined && vm.newRoute.routeType.id === 3">
                        <div class="small-12 large-3 columns">
                            <label for="collection">Valor ($)
                				<input id="collection" name="collection" ng-model="vm.newRoute.vehicle.collection" type="number" required>
              				</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 large-3 columns end">
                            <button class="button" ng-click="vm.createRoute()" ng-disabled="createRouteForm.$invalid">
                Crear Ruteo
              </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="small-12 large-6 columns">
                <h3>Preguntas Frecuentes</h3>

                <accordion close-others="false">
                    <accordion-group heading="¿Qué es tipo de ruta?">
                        <ul>
                            <li>Entregas: El cliente necesita que sea entregado algún item.</li>
                            <li>Recogida: El cliente necesita que sea recogido algún item.</li>
                            <li>
                                Recaudo: El cliente necesita que se recoja un monto de dinero específico. Recuerda que el límite por mensajero es de $2’000,000.
                            </li>
                        </ul>
                    </accordion-group>
                    <accordion-group heading="¿Qué es tipo de entrega?">

                    </accordion-group>
                </accordion>

            </div>
        </div>
    </div>

    <div id="upload-route-file" ng-show="vm.step === 2">
        <div class="row">
            <div class="large-12 columns">
                <span class="success label">Configuración de ruteo creado exitosamente</span>
                <h1>
                    Ruteo 01020304
                </h1>
                <h2>
                    Importar desde archivo CSV
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="small-12 large-6 columns end">
                <form action="">
                    <div class="input-group">
                        <input id="mask-input-file" class="input-group-field" type="text" ng-model="vm.fileName" disabled>
                        <input id="real-input-file" type="file" accept=".csv" ng-show="false" file-reader="vm.fileContent">
                        <div class="input-group-button">
                            <input type="submit" class="secondary button" value="Cargar" ng-click="vm.searchFile()">
                        </div>
                    </div>

                    <p>
                        Recuerda que solo se pueden importar direcciones desde archivos CSV. Si no tienes el archivo base, puedes descargarlo haciendo
                        <a href="">click aquí</a>
                    </p>

                    <button class="secondary button" ng-click="vm.step = 1">
            Atras
          </button>
                </form>
            </div>
        </div>

    </div>


</div>