<div ng-controller="CreateRouteController as vm">

    <div id="create-route">

        <div class="row">
            <div class="large-12 columns">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="#/dashboard">Dashboard</a></li>
                        <li>
                            <span class="show-for-sr">Current: </span> Crear Ruteo
                        </li>
                    </ul>
                </nav>

                <h1>
                    Crear Ruteo
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h2>
                    Detalles del Ruteo
                </h2>
                <alert ng-if="vm.alert.show" type="vm.alert.type" close="vm.alert.show=false">{{vm.alert.msg}}</alert>
            </div>
        </div>

        <loader show="vm.loader.show" message="vm.loader.message"></loader>

        <div class="row" ng-hide="vm.loader.show">
            <div class="small-12 large-6 columns">

                <form name="createRouteForm" novalidate>

                    <div class="row">
                        <div class="large-12 columns">
                            <label for="city">Ciudad
								<select id="city" name="city" ng-model="vm.newRoute.city"
										ng-options="city as city.name for city in vm.cities track by city.id"
										required>
								</select>
                                <p class="error" ng-if="createRouteForm.city.$invalid && createRouteForm.city.$touched">
                                    Por favor seleccione una ciudad
                                </p>
              				</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label for="originAddress">Dirección de origen
								<input id="originAddress" name="originAddress" type="text" ng-model="vm.newRoute.originAddress"
									required>
                                <p class="error" ng-if="createRouteForm.originAddress.$invalid && createRouteForm.originAddress.$touched">
                                    Por favor digite una dirección de origen
                                </p>
							</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 large-6 columns">
                            <label for="clientId">Id del cliente
								<input id="clientId" name="clientId" type="number" ng-model="vm.newRoute.idClient" min="0" required>
                                <p class="error" ng-if="createRouteForm.clientId.$invalid && createRouteForm.clientId.$touched">
                                    Por favor digite el id del cliente
                                </p>
							</label>
                        </div>

                        <div class="small-12 large-6 columns">
                            <label for="unitDeclaredValue">Valor declarado por unidad
								<input id="unitDeclaredValue" name="unitDeclaredValue" type="number" ng-model="vm.newRoute.unitDeclaredValue" min="0" required>
                                <p class="error" ng-if="createRouteForm.unitDeclaredValue.$invalid && createRouteForm.unitDeclaredValue.$touched">
                                    Por favor indique el valor declarado por unidad
                                </p>
							</label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="small-12 large-6 columns">
                            <label for="initDate">Fecha de Inicio
								<input id="initDate" name="initDate" type="date" ng-model="vm.newRoute.initDate" required>
                                <p class="error" ng-if="createRouteForm.initDate.$invalid && createRouteForm.initDate.$touched">
                                    Por favor indique la fecha en la que iniciará el ruteo
                                </p>
							</label>
                        </div>

                        <div class="small-12 large-6 columns">
                            <label for="initHour">Hora de Inicio
								<select id="initHour" name="initHour" ng-model="vm.newRoute.initHour"
										ng-options="initHour as initHour.name for initHour in vm.hourInitTypes track by initHour.id"
										required>
								</select>
                                <p class="error" ng-if="createRouteForm.initHour.$invalid && createRouteForm.initHour.$touched">
                                    Por favor indique la hora en la que debe iniciar
                                </p>
							</label>
                        </div>

                    </div>

                    <div class="row">

                        <div class="small-12 large-6 columns">
                            <label for="deliveryType">Tipo de Entrega
                                <select id="deliveryType" name="deliveryType" ng-model="vm.newRoute.deliveryType"
                                        ng-options="deliveryType as deliveryType.name for deliveryType in vm.deliveryTypes track by deliveryType.id"
                                        required>
                                </select>
                                <p class="error" ng-if="createRouteForm.deliveryType.$invalid && createRouteForm.deliveryType.$touched">
                                    Por favor seleccione el tipo de entrega
                                </p>
                            </label>
                        </div>

                        <div class="small-12 large-6 columns">
                            <label for="routeType">Tipo de Ruta
                                <select id="routeType" name="routeType" ng-model="vm.newRoute.routeType"
                                        ng-options="routeType as routeType.name for routeType in vm.routeTypes track by routeType.id"
                                        required>
                                </select>
                                <p class="error" ng-if="createRouteForm.routeType.$invalid && createRouteForm.routeType.$touched">
                                    Por favor seleccione el tipo de ruta
                                </p>
                            </label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label for="vehicleType">Tipo de vehiculo
                            <select id="vehicleType" name="vehicleType" ng-model="vm.newRoute.vehicle"
                                    ng-options="vehicleType as vehicleType.name for vehicleType in vm.vehicleTypes track by vehicleType.id"
                                    required>
                            </select>
                            <p class="error" ng-if="createRouteForm.vehicleType.$invalid && createRouteForm.vehicleType.$touched">
                                Por favor seleccione un tipo de vehículo
                            </p>
                        </label>
                        </div>
                    </div>

                    <div ng-if="vm.newRoute.routeType !== undefined && vm.newRoute.routeType.id !== 3">
                        <div class="row">
                            <div class="small-12 large-3 columns">
                                <label for="height">Alto (cm)
                                    <input id="height" name="height" ng-model="vm.newRoute.vehicle.height" type="number" min="1" required>
                                    <p class="error" ng-if="createRouteForm.height.$invalid && createRouteForm.height.$touched">
                                        Por favor indique la altura del contenedor del vehículo
                                    </p>
                                </label>
                            </div>
                            <div class="small-12 large-3 columns">
                                <label for="width">Ancho (cm)
                                    <input id="width" name="width" ng-model="vm.newRoute.vehicle.width" type="number" min="1" required>
                                    <p class="error" ng-if="createRouteForm.width.$invalid && createRouteForm.width.$touched">
                                        Por favor indique el ancho del contenedor del vehículo
                                    </p>
                                </label>
                            </div>
                            <div class="small-12 large-3 columns">
                                <label for="deep">Largo (cm)
                                    <input id="deep" name="deep" ng-model="vm.newRoute.vehicle.deep" type="number" min="1" required>
                                    <p class="error" ng-if="createRouteForm.deep.$invalid && createRouteForm.deep.$touched">
                                        Por favor indique la profundidad del contenedor del vehículo
                                    </p>
                                </label>
                            </div>
                            <div class="small-12 large-3 columns">
                                <label for="weight">Peso (Kg)
                                    <input id="weight" name="weight" ng-model="vm.newRoute.vehicle.weight" type="number" min="1" required>
                                    <p class="error" ng-if="createRouteForm.weight.$invalid && createRouteForm.weight.$touched">
                                        Por favor indique el peso que puede cargar el vehículo
                                    </p>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 large-6 columns">
                                <label for="minCapacity">Capacidad Mínima (unidades)
                                    <input id="minCapacity" name="minCapacity" ng-model="vm.newRoute.vehicle.minCapacity" type="number" min="0" max="vm.newRoute.vehicle.maxCapacity" required>
                                    <p class="error" ng-if="createRouteForm.minCapacity.$invalid && createRouteForm.minCapacity.$touched">
                                        Por favor indique cual es la capacidad mínima del mensajero
                                    </p>
                                </label>
                            </div>
                            <div class="small-12 large-6 columns">
                                <label for="maxCapacity">Capacidad Máxima (unidades)
                                    <input id="maxCapacity" name="maxCapacity" ng-model="vm.newRoute.vehicle.maxCapacity" type="number" min="1" required>
                                    <p class="error" ng-if="createRouteForm.maxCapacity.$invalid && createRouteForm.maxCapacity.$touched">
                                        Por favor indique cual es la capacidad máxima del mensajero
                                    </p>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="vm.newRoute.routeType !== undefined && vm.newRoute.routeType.id === 3">
                        <div class="small-12 large-6 columns">
                            <label for="collection">Valor ($)
                				<input id="collection" name="collection" ng-model="vm.newRoute.vehicle.collection" type="number" max="2000000" required>
                                <p class="error" ng-if="createRouteForm.collection.$invalid && createRouteForm.collection.$touched">
                                    Por favor indique el valor máximo de recaudo del mensajero que debe ser menor a $2'000.000'
                                </p>
              				</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 large-3 columns end">
                            <button class="button" ng-click="vm.createRoute()" ng-disabled="createRouteForm.$invalid">
                                Crear Ruteo
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="small-12 large-6 columns">
                <ng-include src="'views/route/createQuestions.html'"></ng-include>
            </div>
        </div>
    </div>

</div>