<div id="view-route-solution" ng-controller="ViewRouteSolutionController as vm">

    <div class="row">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/route/view">Ruteo</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Solución Ruteo
                </li>
            </ul>
        </nav>
        <h1>Ruteo {{vm.route.id}}</h1>
    </div>

    <loader show="vm.loader.show" message="vm.loader.message"></loader>

    <div data-equalizer class="row" ng-class="{mapdisplay:vm.isMapDisplay}" ng-hide="vm.loader.show">

        <div data-equalizer-watch class="columns" ng-class="vm.isMapDisplay ? 'large-8' : 'large-12'">

            <alert ng-if="vm.alert.show" type="vm.alert.type" close="vm.alert.show=false">{{vm.alert.msg}}</alert>

            <div class="callout">
                <h3>Detalles del ruteo</h3>
                <div class="row">
                    <div class="small-12 medium-6 large-1 columns">
                        <img src="images/route/view/city.png" alt="">
                        <p>{{vm.route.city.name}}</p>
                        <h6>
                            <small>Ciudad</small>
                        </h6>
                    </div>

                    <div class="small-12 medium-6 large-2 columns">
                        <img src="images/route/view/origin_address.png" alt="">
                        <p>{{vm.route.originAddress}}</p>
                        <h6>
                            <small>Dirección de Origen</small>
                        </h6>
                    </div>

                    <div class="small-12 medium-6 large-2 columns">
                        <img src="images/route/view/init_date.png" alt="">
                        <p>{{vm.route.initDate.toLocaleString()}}</p>
                        <h6>
                            <small>Fecha de Inicio</small>
                        </h6>
                    </div>

                    <div class="small-12 medium-6 large-2 columns">
                        <img src="images/route/view/init_time.png" alt="">
                        <p>{{vm.route.initHour}}</p>
                        <h6>
                            <small>Hora de inicio</small>
                        </h6>
                    </div>

                    <div class="small-12 medium-6 large-2 columns">
                        <img src="images/route/view/delivery_type.png" alt="">
                        <p>{{vm.route.deliveryType}}</p>
                        <h6>
                            <small>Tipo de entrega</small>
                        </h6>
                    </div>

                    <div class="small-12 medium-6 large-2 columns">
                        <img src="images/route/view/route_type.png" alt="">
                        <p>{{vm.route.routeType}}</p>
                        <h6>
                            <small>Tipo de ruta</small>
                        </h6>
                    </div>

                    <div class="small-12 medium-6 large-1 columns">
                        <img src="images/route/view/vehicle_type.png" alt="">
                        <p>{{vm.route.vehicle.name}}</p>
                        <h6>
                            <small>Tipo de vehículo</small>
                        </h6>
                    </div>


                </div>
            </div>

            <div class="callout">
                <div class="row">
                    <div class="small-12 large-3 columns" class="has-tip" tooltip-placement="top" tooltip="Número de rutas en la solución">
                        <p>Número de rutas</p>
                        <div class="stat">{{vm.route.solution.routes.length}}</div>
                    </div>
                    <div class="small-12 large-3 columns" class="has-tip" tooltip-placement="top" tooltip="Promedio de direcciones en cada ruta">
                        <p>Promedio direcciones</p>
                        <div class="stat">{{vm.avgPoints}}</div>
                    </div>
                    <div class="small-12 large-3 columns" class="has-tip" tooltip-placement="top" tooltip="Costo total del ruteo">
                        <p>Costo total del ruteo</p>
                        <div class="stat">$ {{vm.route.cost.toLocaleString()}}</div>
                    </div>
                    <div class="small-12 large-3 columns" class="has-tip" tooltip-placement="top" tooltip="Costo promedio por ruta">
                        <p>Costo promedio</p>
                        <div class="stat">$ {{vm.avgCost.toLocaleString()}}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-6 medium-4 large-8 columns">
                    <h3>Rutas</h3>
                </div>
                <div class="small-6 medium-4 large-3 columns">
                    <button class="button" ng-click="vm.createRoutes(true)">Crear en MU</button>
                    <dropdown-toggle id="actions" close-on-click="true" pane-align="right">
                        <toggle>
                            <a class="dropdown button">Acciones</a>
                        </toggle>
                        <pane>
                            <ul class="no-bullet">
                                <li><button ng-click="vm.downloadRoutes(false)">Descargar todas las rutas</button></li>
                                <li><button ng-click="vm.createRoutes(true)">Crear todas las rutas</button></li>
                            </ul>
                            <hr>
                            <ul class="no-bullet">
                                <li><button ng-click="vm.downloadRoutes(true)">Descargar rutas seleccionadas</button></li>
                                <li><button ng-click="vm.createRoutes(false)">Crear rutas seleccionadas</button></li>
                            </ul>
                        </pane>
                    </dropdown-toggle>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th ng-click="vm.sortBy('id')">
                            <i class="fa fa-sort-alpha-{{vm.reverse ? 'desc' : 'asc' }}" aria-hidden="true"></i> Nombre
                        </th>
                        <th ng-click="vm.sortBy('cost')">
                            <i class="fa fa-sort-numeric-{{vm.reverse ? 'desc' : 'asc' }}" aria-hidden="true"></i> Costo
                        </th>
                        <th ng-click="vm.sortBy('distance')">
                            <i class="fa fa-sort-numeric-{{vm.reverse ? 'desc' : 'asc' }}" aria-hidden="true"></i> Distancia
                        </th>
                        <th ng-click="vm.sortBy('isCreated')">
                            <i class="fa fa-sort-alpha-{{vm.reverse ? 'desc' : 'asc' }}" aria-hidden="true"></i> Estado
                        </th>
                        <th width="150" ng-click="vm.sortBy('points')">
                            <i class="fa fa-sort-numeric-{{vm.reverse ? 'desc' : 'asc' }}" aria-hidden="true"></i> Número de Puntos
                        </th>
                        <th width="150" ng-click="vm.sortBy('totalUnits')">
                            <i class="fa fa-sort-numeric-{{vm.reverse ? 'desc' : 'asc' }}" aria-hidden="true"></i> Demanda total
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="route in vm.route.solution.routes | orderBy:vm.propertyName:vm.reverse track by $index">
                    <tr>
                        <td>
                            <a href="" ng-hide="route.show" ng-click="route.show=!route.show"><i class="fa fa-chevron-right"></i></a>
                            <a href="" ng-show="route.show" ng-click="route.show=!route.show"><i class="fa fa-chevron-down"></i></a>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="route.selected">
                        </td>
                        <td>Ruta {{route.id}}</td>
                        <td>${{route.cost.toLocaleString()}}</td>
                        <td>{{route.distance}} Km</td>
                        <td>
                            <span class="label" ng-class="route.isCreated ? 'success' : 'secondary'">
                                <i ng-class="route.isCreated ? 'fi-check' : 'fi-x-circle'"></i> {{route.isCreated ? 'creado' : 'sin crear'}}
                            </span>
                        </td>
                        <td>{{route.points.length}}</td>
                        <td>{{route.totalUnits}}</td>
                        <td>
                            <dropdown-toggle close-on-click="true" pane-align="left">
                                <toggle>
                                    <button><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                </toggle>
                                <pane>
                                    <ul class="menu vertical">
                                        <li>
                                            <button ng-click="vm.showMap(route)">Ver en mapa</button>
                                        </li>
                                        <li>
                                            <button><a ng-href="{{route.urlFormat}}" target="_blank">Descargar Formato</a></button>
                                        </li>
                                        <li ng-if="route.isCreated">
                                            <button><a ng-href="{{route.urlTrack}}" target="_blank">URL de seguimiento</a></button>
                                        </li>
                                    </ul>
                                </pane>
                            </dropdown-toggle>
                        </td>
                    </tr>
                    <tr ng-if="route.show" class="animated fadeIn">
                        <td colspan="9">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Direcciones</th>
                                        <th>Ciudad</th>
                                        <th width="150">Fuera perímetro</th>
                                        <th width="150">Demanda</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="point in route.points">
                                        <td>{{point.address}}</td>
                                        <td>{{point.coordinate.city}}</td>
                                        <td>
                                            <span class="alert label" ng-if="point.coordinate.nearByCity">
											<i class="fi-alert"></i>
										</span>
                                        </td>
                                        <td>{{point.units}}</td>
                                        <td>{{point.receiver}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div data-equalizer-watch class="large-4 columns" ng-show="vm.isMapDisplay">
            <div class="callout">
                <button class="close-button" aria-label="Close alert" type="button" ng-click="vm.isMapDisplay = false">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Ruta {{vm.mapRoute.id}}</h3>
            </div>
            <div id="map">
                <loader show="vm.isDrawing" message="vm.loader.message"></loader>
            </div>
        </div>

    </div>

</div>