<div id="view-route" ng-controller="ViewRouteController as vm">

	<div class="row">
		<nav aria-label="You are here:" role="navigation">
			<ul class="breadcrumbs">
				<li><a href="#/dashboard">Dashboard</a></li>
				<li>
					<span class="show-for-sr">Current: </span> Ver Ruteo
				</li>
			</ul>
		</nav>

		<div class="large-12 columns">

			<h1>Ruteo {{vm.route.id}}</h1>

			<ul class="vertical medium-horizontal menu">
				<li><a href="" ng-click="vm.searchFile()">Importar direcciones</a></li>
				<li><a href="#/route/edit">Editar Configuración</a></li>
			</ul>

			<input id="real-input-file" type="file" accept=".csv" ng-show="false" file-reader="vm.fileContent">

			<hr>

			<div id="route-summary">
				<h3>Detalles del ruteo</h3>
				<div class="row">
					<div class="small-12 medium-6 large-1 columns">
						<img src="images/route/view/city.png" alt="">
						<p>{{vm.route.city.name}}</p>
						<h6>
							<small>Ciudad</small>
						</h6>
					</div>

					<div class="small-12 medium-6 large-2 columns">
						<img src="images/route/view/origin_address.png" alt="">
						<p>{{vm.route.originAddress}}</p>
						<h6>
							<small>Dirección de Origen</small>
						</h6>
					</div>

					<div class="small-12 medium-6 large-2 columns">
						<img src="images/route/view/init_date.png" alt="">
						<p>{{vm.route.initDate.toLocaleString()}}</p>
						<h6>
							<small>Fecha de Inicio</small>
						</h6>
					</div>

					<div class="small-12 medium-6 large-2 columns">
						<img src="images/route/view/init_time.png" alt="">
						<p>{{vm.route.initHour}}</p>
						<h6>
							<small>Hora de inicio</small>
						</h6>
					</div>

					<div class="small-12 medium-6 large-2 columns">
						<img src="images/route/view/delivery_type.png" alt="">
						<p>{{vm.route.deliveryType}}</p>
						<h6>
							<small>Tipo de entrega</small>
						</h6>
					</div>

					<div class="small-12 medium-6 large-2 columns">
						<img src="images/route/view/route_type.png" alt="">
						<p>{{vm.route.routeType}}</p>
						<h6>
							<small>Tipo de ruta</small>
						</h6>
					</div>

					<div class="small-12 medium-6 large-1 columns">
						<img src="images/route/view/vehicle_type.png" alt="">
						<p>{{vm.route.vehicle.name}}</p>
						<h6>
							<small>Tipo de vehículo</small>
						</h6>
					</div>


				</div>
			</div>

			<div id="upload-file" ng-if="vm.route.points.length <= 0">
				<img src="images/route/view/file.png" alt="">
				<h4>No tienes direcciones cargadas</h4>
				<p>
					<a href="" ng-click="vm.searchFile()">
						<ins>Importa direcciones</ins>
					</a> desde archivo CSV para alistar el ruteo
				</p>
			</div>

			<div id="summary" ng-if="vm.route.points.length > 0">
				<div class="large-12 columns">

					<button class="button" ng-click="vm.solve()" ng-if="vm.route.state === 'created'">
            			Solucionar
          			</button>
					<a class="button" ng-if="vm.route.state === 'solved'" href="#/route/view-solution"> Ver Solución</a>
					<button class="secondary button" ng-click="vm.deleteAddressOpen()" ng-disabled="vm.thereIsAddressSelected()">
            			Borrar
          			</button>

					<h3>Ver direcciones cargadas</h3>

					<div class="callout warning" ng-if="vm.noGeolocalized.length > 0">
						<h5>No se encontraron algunas direcciones</h5>
						<p>Hubo problemas y no se geolocalizaron {{vm.noGeolocalized.length}} direcciones del archivo que cargaste anteriormente.
							Revisa que las direcciones estén bien escritas.</p>
					</div>

					<tabset>
						<tab select="vm.tabSelected = 1">
							<tab-heading>
								Direcciones geolocalizadas
								<span ng-if="vm.geolocalized.length > 0" class="info label">{{vm.geolocalized.length}}</span>
							</tab-heading>
							<div class="row">
								<div class="small-12 medium-9 large-6 columns">
									<input type="text" placeholder="Buscar dirección" ng-model="vm.addressFilter">
								</div>
							</div>
							<table>
								<thead>
									<tr>
										<th>
											<input type="checkbox" ng-model="vm.selectGeolocalized">
										</th>
										<th>Direcciones</th>
										<th>Ciudad</th>
										<th>Dentro del perímetro</th>
										<th>Nombre</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="point in vm.geolocalized | filter:vm.addressFilter">
										<td>
											<input type="checkbox" ng-model="point.selected">
										</td>
										<td>{{point.address}}</td>
										<td>{{point.coordinate.city}}</td>
										<td>
											<i class="fa fa-{{point.coordinate.nearByCity ? 'exclamation-circle' : 'check-square' }}" aria-hidden="true"></i>
										</td>
										<td>{{point.receiver}}</td>
									</tr>
								</tbody>
							</table>
						</tab>
						<tab select="vm.tabSelected = 2">
							<tab-heading>
								Direcciones NO geolocalizadas
								<span ng-if="vm.noGeolocalized.length > 0" class="warning label">{{vm.noGeolocalized.length}}</span>
							</tab-heading>
							<div ng-hide="vm.noGeolocalized.length> 0" class="empty callout">
								<img src="images/route/list/empty.png" alt="">
								<h4>Todas las direcciones han sido geolocalizadas.</h4>
							</div>
							<div class="tab-body" ng-if="vm.noGeolocalized.length > 0">
								<div class="row">
									<div class="small-12 large-6 columns">
										<input type="text" placeholder="Buscar dirección" ng-model="vm.addressFilter">
									</div>
									<div class="small-12 large-6 columns">
										<button class="button secondary" ng-click="vm.downloadAddress()">
                    					Descargar No Geolocalizadas
                  					</button>
									</div>
								</div>
								<table>
									<thead>
										<tr>
											<th class="large-1">
												<input type="checkbox" ng-model="vm.selectNoGeolocalized">
											</th>
											<th class="large-6">Direcciones</th>
											<th>Nombre</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="point in vm.noGeolocalized | filter:vm.addressFilter">
											<td>
												<input type="checkbox" ng-model="point.selected">
											</td>
											<td>{{point.address}}</td>
											<td>{{point.receiver}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</tab>
					</tabset>

				</div>
			</div>

		</div>
	</div>

	<!-- LOAD ADDRESS-->
	<div class="reveal" id="summary-load" data-reveal>

		<h3>Direcciones cargadas</h3>
		<p>Has cargado {{vm.newPoints.length}} direcciones correctamente, el total de unidades es de {{vm.totalUnits}}
		</p>

		<div id="table">
			<table>
				<thead>
					<tr>
						<th>Dirección</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="point in vm.newPoints track by $index">
						<td>{{ point.address }}</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div id="button-options">
			<button class="secondary button" ng-click="vm.cancelLoad()">
        Cancelar
      </button>
			<button class="button" ng-click="vm.loadAddress()">
        Cargar
      </button>
		</div>
	</div>
	<!-- LOAD ADDRESS-->

	<!-- DELETE ADDRESS -->
	<div class="reveal" id="delete-address" data-reveal>

		<h3>¿Estás seguro?</h3>
		<p>Estás a punto de borrar {{vm.numDeleteAddress}} direcciones del ruteo {{vm.route.id}}</p>

		<div class="large-12 cloumns">
			<button class="secondary button" ng-click="vm.deleteAddressClose(false)">
        Cancelar
      </button>
			<button class="button" ng-click="vm.deleteAddressClose(true)">
        Borrar
      </button>
		</div>

	</div>
	<!-- DELETE ADDRESS -->


</div>