<div id="advisory-services" ng-controller="TeacherAdvisoryServicesController as vm">
    <div class="row">
        <div class="large-12 columns">
            <h2>Asesorias</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <tabset>
                <tab heading="Asignadas" active="vm.tabAssigned">
                </tab>
                <tab heading="Disponibles" active="vm.tabAvailable">
                </tab>
            </tabset>
        </div>
    </div>
</div>