<div id="basic-data" ng-controller="TeacherBasicDataController as vm">
    <div class="title-bar hide-for-large">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="my-info"></button>
            <span class="title-bar-title">Mike Mikerson</span>
        </div>
    </div>
    <div class="callout primary">
        <div class="row column">
            <h1>Bienvenido Profe.</h1>
            <p class="lead">
                Este Perfil nos ayudará a conocerte y poder prestar un mejor servicio en nuestra plataforma, te invitamos a mantener esta
                información actualizada ya que así mismo te permitirá obtener mejores beneficios.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <div id="account-data">
                <h3>Datos de Cuenta</h3>
                <div class="row" ng-if="!vm.editData.account">
                    <div class="large-12 columns">
                        <strong>Nombre: </strong>
                        <p>{{vm.teacher.name}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Apellido: </strong>
                        <p>{{vm.teacher.lastName}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Correo electrónico: </strong>
                        <p>{{vm.teacher.email}}</p>
                    </div>
                    <div class="large-12 columns">
                        <button class="hollow button" ng-click="vm.editData.account = true">
                                Editar
                            </button>
                    </div>
                </div>
                <form name="accountForm" novalidate ng-if="vm.editData.account">
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="name">Nombre</label>
                            <input id="name" name="name" type="text" ng-model="vm.teacher.name" required>
                            <p class="error" ng-if="accountForm.name.$invalid && accountForm.name.$dirty">
                                Por favor escriba su nombre.
                            </p>
                        </div>
                        <div class="large-6 columns">
                            <label for="lastName">Appellido</label>
                            <input id="lastName" name="lastName" type="text" ng-model="vm.teacher.lastName" required>
                            <p class="error" ng-if="accountForm.lastName.$invalid && accountForm.lastName.$dirty">
                                Por favor escriba su apellido.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <button class="button" ng-disabled="accountForm.$invalid" ng-click="vm.edit(1)">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <hr>

            <div id="personal-data">
                <h3>Datos Personales</h3>
                <div class="row" ng-if="!vm.editData.personal">
                    <div class="large-12 columns">
                        <strong>Cédula: </strong>
                        <p>{{vm.teacher.identification}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Celular: </strong>
                        <p>{{vm.teacher.cellPhone}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Teléfono Fijo: </strong>
                        <p>{{vm.teacher.phone}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Ciudad: </strong>
                        <p>{{vm.teacher.city.name}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Dirección: </strong>
                        <p>{{vm.teacher.address}}</p>
                    </div>
                    <div class="large-12 columns">
                        <button class="hollow button" ng-click="vm.editData.personal = true">
                            Editar
                        </button>
                    </div>
                </div>
                <form name="personalForm" novalidate ng-if="vm.editData.personal">

                    <div class="row">
                        <div class="large-12 columns">
                            <label for="identification">Cédula</label>
                            <input id="identification" name="identification" type="text" ng-model="vm.teacher.identification" required>
                            <p class="error" ng-if="personalForm.identification.$invalid && personalForm.identification.$dirty">
                                Por favor escriba su número de identificación.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="cellPhone">Celular</label>
                            <input id="cellPhone" name="cellPhone" type="text" ng-model="vm.teacher.cellPhone" required>
                            <p class="error" ng-if="personalForm.cellPhone.$invalid && personalForm.cellPhone.$dirty">
                                Por favor escriba su teléfono celular.
                            </p>
                        </div>
                        <div class="large-6 columns">
                            <label for="phone">Telefono Fijo</label>
                            <input id="phone" name="phone" type="text" ng-model="vm.teacher.phone" required>
                            <p class="error" ng-if="personalForm.phone.$invalid && personalForm.phone.$dirty">
                                Por favor escriba su teléfono fijo.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="city">Ciudad</label>
                            <select ng-options="city as city.name for city in vm.cities track by city.id" ng-model="vm.teacher.city" required>
                            </select>
                        </div>
                        <div class="large-6 columns">
                            <label for="address">Dirección</label>
                            <input id="address" name="address" type="text" ng-model="vm.teacher.address" required>
                            <p class="error" ng-if="personalForm.address.$invalid && personalForm.address.$dirty">
                                Por favor escriba su dirección.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <button class="button" ng-disabled="personalForm.$invalid" ng-click="vm.edit(2)">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <hr>

            <div id="academical-data">
                <h3>Datos Academicos</h3>
                <div class="row" ng-if="!vm.editData.academical">
                    <div class="large-12 columns">
                        <strong>Universidad: </strong>
                        <p>{{vm.teacher.university.name}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Profesión: </strong>
                        <p>{{vm.teacher.profession.name}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Semestre: </strong>
                        <p>{{vm.teacher.semester}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Fecha de Grado: </strong>
                        <p>{{vm.teacher.gradeDate | date:'yyyy-MM-dd'}}</p>
                    </div>
                    <div class="large-12 columns">
                        <button class="hollow button" ng-click="vm.editData.academical = true">
                                Editar
                            </button>
                    </div>
                </div>
                <form name="academicalForm" ng-if="vm.editData.academical">
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="university">Universidad</label>
                            <select id="university" name="university" ng-options="university as university.name for university in vm.universities track by university.id"
                                ng-model="vm.teacher.university" required>                                
                            </select>
                            <p class="error" ng-if="academicalForm.university.$invalid && academicalForm.university.$dirty">
                                Por favor escriba el nombre de su Universidad.
                            </p>
                        </div>
                        <div class="large-6 columns">
                            <label for="profession">Profesión</label>
                            <select id="profession" name="profession" ng-options="profession as profession.name for profession in vm.professions track by profession.id"
                                ng-model="vm.teacher.profession" required>                                
                            </select>
                            <p class="error" ng-if="academicalForm.profession.$invalid && academicalForm.profession.$dirty">
                                Por favor seleccione su profesion.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="semester">Semestre</label>
                            <input id="semester" name="semester" type="number" ng-model="vm.teacher.semester" min="6" max="14" required>
                            <p class="error" ng-if="academicalForm.semester.$invalid && academicalForm.semester.$dirty">
                                Por favor seleccione su semestre.
                            </p>
                        </div>
                        <div class="large-6 columns">
                            <label for="gradeDate">Fecha de Grado</label>
                            <input id="gradeDate" name="gradeDate" type="date" ng-model="vm.teacher.gradeDate" required>
                            <p class="error" ng-if="academicalForm.gradeDate.$invalid && academicalForm.gradeDate.$dirty">
                                Por favor seleccione su fecha de grado.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <button class="button" ng-disabled="academicalForm.$invalid" ng-click="vm.edit(3)">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="large-6 columns">
            <form name="subjectData">
                <h3>Materias</h3>
                <div ng-if="vm.editData.subjects">
                    <label for="">Selecciona</label>
                    <div class="input-group">
                        <span class="input-group-label">+</span>
                        <multiple-autocomplete id="select-courses" ng-model="vm.teacher.courses" object-property="courseName" suggestions-arr="vm.subjects">
                        </multiple-autocomplete>
                    </div>
                    <button class="button" ng-click="vm.edit()">
                        Guardar
                    </button>
                </div>
                <div ng-if="!vm.editData.subjects">
                    <div class="callout">
                        <span class="label secondary" ng-repeat="subject in vm.teacher.courses track by $index">
                            {{subject.courseName}}
                        </span>
                    </div>
                    <button class="button hollow" ng-click="vm.editData.subjects = true">
                        Editar
                    </button>
                </div>
            </form>

            <hr>

            <div id="financial-data">
                <h3>Datos Financieros</h3>
                <div class="row" ng-if="!vm.editData.financial">
                    <div class="large-12 columns">
                        <strong>Banco: </strong>
                        <p>{{vm.teacher.bankAccount.bank}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Número de Cuenta: </strong>
                        <p>{{vm.teacher.bankAccount.number}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Tipo de Cuenta: </strong>
                        <p>{{vm.teacher.bankAccount.type}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Nombre titular de la cuenta: </strong>
                        <p>{{vm.teacher.bankAccount.holderName}}</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Cédula titular de la cuenta: </strong>
                        <p>{{vm.teacher.bankAccount.holderIdentification}}</p>
                    </div>
                    <div class="large-12 columns">
                        <button class="hollow button" ng-click="vm.editData.financial = true">
                                Editar
                            </button>
                    </div>
                </div>
                <form name="financialData" novalidate ng-if="vm.editData.financial">
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="bank">Banco</label>
                            <input id="bank" name="bank" type="text" ng-model="vm.teacher.bankAccount.bank" required>
                            <p class="error" ng-if="financialData.bank.$invalid && financialData.bank.$dirty">
                                Por favor seleccione su banco.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="accountNumber">Número de Cuenta</label>
                            <input id="accountNumber" name="accountNumber" type="text" ng-model="vm.teacher.bankAccount.number" required>
                            <p class="error" ng-if="financialData.accountNumber.$invalid && financialData.accountNumber.$dirty">
                                Por favor escriba el número de su cuenta.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="accountType">Tipo de Cuenta</label>
                            <input id="accountType" name="accountType" type="text" ng-model="vm.teacher.bankAccount.type" required>
                            <p class="error" ng-if="financialData.accountType.$invalid && financialData.accountType.$dirty">
                                Por favor seleccione su tipo de cuenta.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="accountHolderName">Nombre titular de la cuenta</label>
                            <input id="accountHolderName" name="accountHolderName" type="text" ng-model="vm.teacher.bankAccount.holderName" required>
                            <p class="error" ng-if="financialData.accountHolderName.$invalid && financialData.accountHolderName.$dirty">
                                Por favor escriba el nombre del titular de la cuenta.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="accountHolderIdentification">Cédula titular de la cuenta</label>
                            <input id="accountHolderIdentification" name="accountHolderIdentification" type="text" ng-model="vm.teacher.bankAccount.holderIdentification"
                                required>
                            <p class="error" ng-if="financialData.accountHolderIdentification.$invalid && financialData.accountHolderIdentification.$dirty">
                                Por favor escriba la cédula del titular de la cuenta.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <button class="button" ng-disabled="financialData.$invalid" ng-click="vm.edit(4)">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>