<div id="basic-data" ng-controller="TeacherBasicDataController as vm">
    <div class="title-bar hide-for-large">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="my-info"></button>
            <span class="title-bar-title">Mike Mikerson</span>
        </div>
    </div>
    <div class="callout primary">
        <div class="row column">
            <h1>Bienvenido Profe.</h1>
            <p class="lead">
                Este Perfil nos ayudará a conocerte y poder presatr un mejor servicio en nuestra plataforma, te invitamos a mantener esa información actualizada ya que así mismo te permitirá obtener mejores beneficios.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <div id="account-data">
                <h3>Datos de Cuenta</h3>
                <div class="row" ng-if="!vm.editData.account">
                    <div class="large-12 columns">
                        <strong>Nombre: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Apellido: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Correo electrónico: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <button class="hollow button" ng-click="vm.editData.account = true">
                                Editar
                            </button>
                    </div>
                </div>
                <form name="accountForm" novalidate ng-if="vm.editData.account">
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="name">Nombre</label>
                            <input id="name" name="name" type="text" ng-model="vm.teacher.name" required>
                            <p class="error" ng-if="accountForm.name.$invalid && accountForm.name.$dirty">
                                Por favor escriba su nombre.
                            </p>
                        </div>
                        <div class="large-6 columns">
                            <label for="lastName">Appellido</label>
                            <input id="lastName" name="lastName" type="text" ng-model="vm.teacher.lastName" required>
                            <p class="error" ng-if="accountForm.lastName.$invalid && accountForm.lastName.$dirty">
                                Por favor escriba su apellido.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="email">Correo electrónico</label>
                            <input id="email" name="email" type="text" ng-model="vm.teacher.email" required>
                            <p class="error" ng-if="accountForm.email.$invalid && accountForm.email.$dirty">
                                Por favor escriba su correo electrónico.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <button class="button">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <hr>

            <div id="personal-data">
                <h3>Datos Personales</h3>
                <div class="row" ng-if="!vm.editData.personal">
                    <div class="large-12 columns">
                        <strong>Cédula: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Celular: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Teléfono Fijo: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Ciudad: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Barrio: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Dirección: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <button class="hollow button" ng-click="vm.editData.personal = true">
                                Editar
                            </button>
                    </div>
                </div>
                <form name="personalForm" novalidate ng-if="vm.editData.personal">

                    <div class="row">
                        <div class="large-12 columns">
                            <label for="identification">Cedula</label>
                            <input id="identification" name="identification" type="text" ng-model="vm.teacher.identification" required>
                            <p class="error" ng-if="accountForm.identification.$invalid && accountForm.identification.$dirty">
                                Por favor escriba su identificación.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="cellPhone">Celular</label>
                            <input id="cellPhone" name="cellPhone" type="text" ng-model="vm.teacher.cellPhone" required>
                            <p class="error" ng-if="accountForm.cellPhone.$invalid && accountForm.cellPhone.$dirty">
                                Por favor escriba su teléfono celular.
                            </p>
                        </div>
                        <div class="large-6 columns">
                            <label for="phone">Telefono Fijo</label>
                            <input id="phone" name="phone" type="text" ng-model="vm.teacher.phone" required>
                            <p class="error" ng-if="accountForm.phone.$invalid && accountForm.phone.$dirty">
                                Por favor escriba su teléfono fijo.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="city">Ciudad</label>
                            <input id="city" name="city" type="text" ng-model="vm.teacher.city" required>
                            <p class="error" ng-if="accountForm.city.$invalid && accountForm.city.$dirty">
                                Por favor escriba su ciudad.
                            </p>
                        </div>
                        <div class="large-6 columns">
                            <label for="neighborhood">Barrio</label>
                            <input id="neighborhood" name="neighborhood" type="text" ng-model="vm.teacher.neighborhood" required>
                            <p class="error" ng-if="accountForm.neighborhood.$invalid && accountForm.neighborhood.$dirty">
                                Por favor escriba su barrio.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="address">Dirección</label>
                            <input id="address" name="address" type="text" ng-model="vm.teacher.address" required>
                            <p class="error" ng-if="accountForm.address.$invalid && accountForm.address.$dirty">
                                Por favor escriba su dirección.
                            </p>
                        </div>
                    </div>
                </form>
            </div>

            <hr>

            <div id="academical-data">
                <h3>Datos Academicos</h3>
                <div class="row" ng-if="!vm.editData.academical">
                    <div class="large-12 columns">
                        <strong>Universidad: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Dirección Universidad: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Profesión: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Semestre: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Fecha de Grado: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <button class="hollow button" ng-click="vm.editData.academical = true">
                                Editar
                            </button>
                    </div>
                </div>
                <form action="" ng-if="vm.editData.academical">
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="">Universidad</label>
                            <input id="" name="" type="text">
                        </div>
                        <div class="large-6 columns">
                            <label for="">Dirección Universidad</label>
                            <input id="" name="" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="">Profesion</label>
                            <input id="" name="" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="">Semestre</label>
                            <input id="" name="" type="text">
                        </div>
                        <div class="large-6 columns">
                            <label for="">Fecha de Grado</label>
                            <input id="" name="" type="text">
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="large-6 columns">
            <form action="">
                <h3>Materias</h3>
                <label for="">Selecciona</label>
                <div class="input-group">
                    <span class="input-group-label">+</span>
                    <input class="input-group-field" type="text">
                </div>
                <div class="callout">
                    <span class="label secondary"><i class="fi-x-circle"></i> Matemáticas</span>
                    <span class="label secondary"><i class="fi-x-circle"></i> Español</span>
                    <span class="label secondary"><i class="fi-x-circle"></i> Cálculo</span>
                    <span class="label secondary"><i class="fi-x-circle"></i> Geometría</span>
                    <span class="label secondary"><i class="fi-x-circle"></i> Inglés</span>
                </div>
            </form>

            <hr>

            <div id="financial-data">
                <h3>Datos Financieros</h3>
                <div class="row" ng-if="!vm.editData.financial">
                    <div class="large-12 columns">
                        <strong>Banco: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Número de Cuenta: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <strong>Tipo de Cuenta: </strong>
                        <p>Fidel</p>
                    </div>
                    <div class="large-12 columns">
                        <button class="hollow button" ng-click="vm.editData.financial = true">
                                Editar
                            </button>
                    </div>
                </div>
                <form action="" ng-if="vm.editData.financial">
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="">Banco</label>
                            <input id="" name="" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="">Número de Cuenta</label>
                            <input id="" name="" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="">Tipo de Cuenta</label>
                            <input id="" name="" type="text">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>