<div id="game-rules" ng-controller="TeacherGameRulesController as vm">
    <div class="row">
        <div class="large-12 columns">
            <h2>Reglas de Juego</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <p>
                Te invitamos a que leas con calma el archivo de las reglas de juego, si tienes alguna duda, no dudes en ponerte en contacto
                con nosotros. Una vez hayas terminado y si estas de acurdo presiona en el botón de "Estoy de acuerdo". Esto
                lo hacemos con el objetivo que entindas la cultura organizacional de Tu Profe y que tu comportamiento será
                coherente con lo que has leído.
            </p>
            <a href="{{CloudFrontTuProfe + '/formats/game-rules.pdf'}}" target="_blank">
            <img src="images/home/docs.svg" alt=""> Reglas de Juego
        </a>
        </div>
        <div class="large-6 columns">
            <blockquote>
                Cerifico haber leído y estar de acuerdo con las reglas de juego de Tu Profe y entiendo por completo la política organizacional
                y las consecuencias de no tener un comportamiento coherente.
                <cite>Teacher Name</cite>
            </blockquote>
            <fieldset>
                <input id="acceptGameRules" type="checkbox" ng-model="$parent.teacher.acceptGameRules" ng-disabled="$parent.teacher.acceptGameRules"
                    ng-click="vm.acceptGameRules()"><label for="acceptGameRules">Al hacer click en este botón automáticamente acepta todo lo dicho en el parráfo anterior</label>
            </fieldset>
        </div>
    </div>

</div>