<div id="linkUp">
    <div class="row">
        <h1>
            Proceso de Vinculación
        </h1>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <div>
                <img src="images/teacherProfile/linkUp/rating.svg" alt="">
                <div>
                    <h3>Registro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra hendrerit ornare. Vestibulum finibus, diam porttitor vulputate sodales, lectus quam.</p>
                </div>
            </div>
            <div>
                <img src="images/teacherProfile/linkUp/file.svg" alt="">
                <div>
                    <h3>Hoja de vida</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra hendrerit ornare. Vestibulum finibus, diam porttitor vulputate sodales, lectus quam.</p>
                </div>
            </div>
            <div>
                <img src="images/teacherProfile/linkUp/followers.svg" alt="">
                <div>
                    <h3>Entrevista</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra hendrerit ornare. Vestibulum finibus, diam porttitor vulputate sodales, lectus quam.</p>
                </div>
            </div>
            <div>
                <img src="images/teacherProfile/linkUp/calendar.svg" alt="">
                <div>
                    <h3>Materias y Horario</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra hendrerit ornare. Vestibulum finibus, diam porttitor vulputate sodales, lectus quam.</p>
                </div>
            </div>
            <div class="callout alert">
                <h3>Solicitud Rechazada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra hendrerit ornare. Vestibulum finibus, diam porttitor vulputate sodales, lectus quam.</p>
            </div>
        </div>
    </div>
</div>