<div id="teacher-profile" class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper ng-controller="TeacherProfileController as vm">

        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
            <div class="row column">
                <br>
                <input id="real-input-photo-file" name="file" type="file" ng-show="false" accept=".jpg" file-reader="vm.photoFile">
                <img ng-src="https://d1e8nogtjho65.cloudfront.net/teacher/profile_photos/{{vm.teacher.id}}.jpg" ng-click="vm.editPhoto()" imageonload>
                <h5>{{vm.teacher.name}}</h5>
            </div>
            <ul id="menu">
                <li ng-click="vm.section = 'linkUp'" ng-class="vm.menuLiClass('linkUp')">
                    <i class="fa fa-link" aria-hidden="true"></i> Vinculación
                </li>
                <li ng-click="vm.section = 'basicData'" ng-class="vm.menuLiClass('basicData')" ng-if="vm.showMenuLi()">
                    <i class="fa fa-address-book" aria-hidden="true"></i> Datos
                </li>
                <li ng-click="vm.section = 'schedule'" ng-class="vm.menuLiClass('schedule')" ng-if="vm.showMenuLi()">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Horario
                </li>
                <li ng-click="vm.section = 'gameRules'" ng-class="vm.menuLiClass('gameRules')" ng-if="vm.showMenuLi()">
                    <i class="fa fa-gavel" aria-hidden="true"></i> Reglas de juego
                </li>
                <li ng-click="vm.section = 'trainings'" ng-class="vm.menuLiClass('trainings')" ng-if="vm.showMenuLi()">
                    <i class="fa fa-book" aria-hidden="true"></i> Capacitaciones
                </li>
                <li ng-click="vm.logout()">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Cerrar sesión
                </li>
            </ul>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>

            <ng-include src="'views/teacherProfile/linkUp.html'" ng-show="vm.section === 'linkUp'">
            </ng-include>

            <ng-include src="'views/teacherProfile/basicData.html'" ng-show="vm.section === 'basicData'">
            </ng-include>

            <ng-include src="'views/teacherProfile/schedule.html'" ng-show="vm.section === 'schedule'">
            </ng-include>

            <ng-include src="'views/teacherProfile/gameRules.html'" ng-show="vm.section === 'gameRules'">
            </ng-include>

            <ng-include src="'views/teacherProfile/trainings.html'" ng-if="vm.section === 'trainings'">
            </ng-include>

        </div>

    </div>
</div>