<div id="trainings" data-sticky-container>
    <div class="row question">
        <div class="large-6 large-centered columns">
            <p>¿The minimum file size allowed on S3 is 0 bytes?</p>
            <div class="callout small answer hvr-float-shadow">
                <span class="badge">1</span> Yes
            </div>
            <div class="callout small answer hvr-float-shadow">
                <span class="badge">1</span> Yes
            </div>
            <div class="callout success answer">
                <span class="badge">1</span> Yes
                <small>Buen trabajo, pasa a la siguiente pregunta</small>
            </div>
            <div class="callout alert answer">
                <span class="badge">1</span> Yes
                <small>La respuesta no es correcta, consulta el material de nuevo</small>
            </div>
        </div>
    </div>

    <div class="summary-header">
        <div class="row">
            <div class="large-6 large-centered columns">
                <h2>Revisa el material para ampliar tu aprendizaje.</h2>
                <p>Has contestado 7 de 10 correctas a la primera.</p>
            </div>
        </div>
    </div>

    <div class="row summary">
        <div class="large-6 large-centered columns">
            <dl>
                <dt><i class="fa fa-check" aria-hidden="true"></i> Lo que sabes</dt>
                <dd>The minimum file size allowed on S3 is 0 bytes?</dd>
                <dd>The minimum file size allowed on S3 is 0 bytes?</dd>
                <dd>The minimum file size allowed on S3 is 0 bytes?</dd>
                <dd>The minimum file size allowed on S3 is 0 bytes?</dd>
                <dt><i class="fa fa-times" aria-hidden="true"></i> Lo que deberías revisar</dt>
                <dd>The minimum file size allowed on S3 is 0 bytes?</dd>
                <dd>The minimum file size allowed on S3 is 0 bytes?</dd>
            </dl>
        </div>
    </div>

    <div id="controllers">
        <div class="float-right">
            Pregunta 1 de 10
            <button class="button success">Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>