footer
  padding: 20px
  background-color: #45474d
  width: 100%
  .row
    max-width: none
  p
    display: inline
    color: white
    font-size: 12px
    font-weight: 400
    letter-spacing: 0
    line-height: 14px

  div > div:nth-child(2) > p
    text-align: right
    display: block
    margin: 0

  img.logo-mu
    display: inline




