<div id="profile" ng-controller="ProfileController as vm">
    <div class="row">
        <div class="large-12 columns">
            <h1>
                Perfil
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="large-3 columns">
            <div class="card">
                <div class="card-section">
                    <img id="profile-img" src="{{vm.profilePhotoUrl}}" alt="" imageonload="'images/studentProfile/profile.svg'">
                </div>
                <div class="card-section">
                    <a href="" class="button expanded" ng-click="vm.editData = true"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Editar Datos</a>
                    <a href="" class="button expanded" ng-click="vm.editPhoto = true"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Editar Foto</a>
                </div>
            </div>
        </div>
        <div class="large-9 columns" ng-if="!(vm.editData || vm.editPhoto)">
            <div class="card">
                <div class="card-divider">
                    <h4>Datos de la Cuenta</h4>
                </div>
                <div class="card-section">
                    <div class="row">
                        <div class="large-4 columns">
                            <p><strong>Nombre:</strong> {{vm.student.name}}</p>
                        </div>
                        <div class="large-4 columns">
                            <p><strong>Apellido:</strong> {{vm.student.lastName}}</p>
                        </div>
                        <div class="large-4 columns">
                            <p><strong>Cédula:</strong> {{vm.student.identification}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 columns">
                            <p><strong>Ciudad:</strong> {{vm.student.city.name}}</p>
                        </div>
                        <div class="large-4 columns">
                            <p><strong>Barrio:</strong> {{vm.student.geoInfo.neighborhood}}</p>
                        </div>
                        <div class="large-4 columns">
                            <p><strong>Dirección:</strong> {{vm.student.address}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 columns">
                            <p><strong>Télefono:</strong> {{vm.student.phone}}</p>
                        </div>
                        <div class="large-8 columns">
                            <p><strong>Celular:</strong> {{vm.student.cellPhone}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-8 columns">
                            <p><strong>Institución Académica:</strong> {{vm.student.school.name}}</p>
                        </div>
                        <div class="large-4 columns">
                            <p><strong>Semestre/curso:</strong> {{vm.student.academicalLevel}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <p><strong>Profesión:</strong> {{vm.student.profession.name}}</p>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.studentEdit.school.type === 1">
                        <div class="large-12 columns">
                            <p><strong>Correo electrónico:</strong> {{vm.student.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-9 columns" ng-if="vm.editData || vm.editPhoto">
            <div class="row" ng-if="vm.editData">
                <div class="large-12 columns">
                    <div class="card">
                        <div class="card-divider">
                            <h4>Editar datos de la Cuenta</h4>
                        </div>
                        <div class="card-section">
                            <form name="editPersonalData" novalidate>
                                <div class="row">
                                    <div class="large-6 columns">
                                        <label for="name">Nombre</label>
                                        <input id="name" name="name" type="text" ng-model="vm.studentEdit.name" required>
                                        <p class="error" ng-if="editPersonalData.name.$invalid && editPersonalData.name.$dirty">
                                            Por favor ingrese su nombre.
                                        </p>
                                    </div>
                                    <div class="large-6 columns">
                                        <label for="lastName">Apellidos</label>
                                        <input id="lastName" name="lastName" type="text" ng-model="vm.studentEdit.lastName" required>
                                        <p class="error" ng-if="editPersonalData.lastName.$invalid && editPersonalData.lastName.$dirty">
                                            Por favor ingrese sus apellidos.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-6 columns">
                                        <label for="phone">Teléfono Fijo</label>
                                        <input id="phone" name="phone" type="text" ng-model="vm.studentEdit.phone" required>
                                        <p class="error" ng-if="editPersonalData.phone.$invalid && editPersonalData.phone.$dirty">
                                            Por favor ingrese su teléfono fijo.
                                        </p>
                                    </div>
                                    <div class="large-6 columns">
                                        <label for="cellPhone">Celular</label>
                                        <input id="cellPhone" name="cellPhone" type="text" ng-model="vm.studentEdit.cellPhone" required>
                                        <p class="error" ng-if="editPersonalData.cellPhone.$invalid && editPersonalData.cellPhone.$dirty">
                                            Por favor ingrese su celular.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-6 columns">
                                        <label for="city">Ciudad</label>                                        
                                        <select ng-options="city as city.name for city in vm.cities track by city.id" ng-model="vm.studentEdit.city" required>
                                        </select>                                        
                                    </div>  
                                    <div class="large-6 columns">
                                        <label for="address">Dirección</label>
                                        <input id="address" name="address" type="text" ng-model="vm.studentEdit.address" required>
                                        <p class="error" ng-if="editPersonalData.address.$invalid && editPersonalData.address.$dirty">
                                            Por favor ingrese su dirección.
                                        </p>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="large-6 columns">
                                        <label for="identification">Número de Identificación</label>
                                        <input id="identification" name="identification" type="text" ng-model="vm.studentEdit.identification" required>
                                        <p class="error" ng-if="editPersonalData.identification.$invalid && editPersonalData.identification.$dirty">
                                            Por favor ingrese su número identificación.
                                        </p>
                                    </div>     
                                    <div class="large-6 columns">
                                        <label for="school">Institución Académica</label>                                        
                                        <select ng-options="school as school.name for school in vm.schools track by school.id" ng-model="vm.studentEdit.school" required>
                                        </select>                                        
                                    </div>                               
                                </div>     
                                <div class="row">                                    
                                    <div class="large-6 columns" ng-if="vm.studentEdit.school.type === 1">
                                        <label for="profession">Profesión</label>                                        
                                        <select ng-options="profession as profession.name for profession in vm.professions track by profession.id" ng-model="vm.studentEdit.profession" required>
                                        </select>                                        
                                    </div>

                                    <div class="large-6 columns end">
                                        <label for="profession" ng-if="vm.studentEdit.school.type === 1">Semestre</label>   
                                        <label for="profession" ng-if="vm.studentEdit.school.type === 2">Grado/Curso</label>                                        
                                        <input id="academicalLevel" name="academicalLevel" type="number" ng-model="vm.studentEdit.academicalLevel" min="1" max="14" required>
                                        </select>                                        
                                    </div>

                                </div>                           
                                <div class="row">
                                    <div class="large-12 columns">
                                        <button class="button secondary" ng-click="vm.editData=false">
                                            Cancelar
                                        </button>
                                        <button class="button" ng-disabled="editPersonalData.$invalid" ng-click="vm.edit()">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.editPhoto">
                <div class="large-12 columns">
                    <div class="card">
                        <div class="card-divider">
                            <h4>Editar Foto</h4>
                        </div>
                        <div class="card-section">
                            <div class="row">
                                <input id="real-input-profile-photo-file" name="file" type="file" ng-show="false" accept="image/*" file-reader="vm.photoFile">
                                <div class="large-6 large-offset-3 end columns">
                                    <div class="input-group">
                                        <input class="input-group-field" type="text" ng-value="vm.file.name" disabled>
                                        <div class="input-group-button">
                                            <a ng-click="vm.selectPhoto()" class="button">
                                                Seleccionar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <center>
                                    <button class="button secondary" ng-click="vm.editPhoto=false">Cancelar</button>
                                    <button class="button" ng-click="vm.uploadPhoto()">Guardar</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>