<div id="request-advisory" ng-controller="RequestAdvisoryController as vm">
    <!-- SERVICE TYPE SELECTION -->
    <div id="select-advisroy-type" ng-if="vm.service.type === undefined">
        <div class="row">
            <div class="large-12 columns">
                <div class="marketing-site-hero">
                    <div class="marketing-site-hero-content">
                        <h1>Acompañamiento</h1>
                        <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui
                            minus!
                        </p>
                        <a href="" class="round button" ng-click="vm.service.type = 1">Seleccionar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="marketing-site-hero">
                    <div class="marketing-site-hero-content">
                        <h1>Tema Específico</h1>
                        <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui
                            minus!
                        </p>
                        <a href="" class="round button" ng-click="vm.service.type = 2">Seleccionar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TUTOR SERVICE -->
    <div id="tutor-service" ng-show="vm.service.type === 1 && !vm.successCreateService">
        <div class="summary-header">
            <div class="marketing-site-hero">
                <div class="marketing-site-hero-content">
                    <h1>Acompañamiento</h1>
                    <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!
                    </p>
                    <a href="" class="round button" ng-click="vm.reset()">Volver</a>
                </div>
            </div>
        </div>

        <div class="row" data-equalizer>
            <div class="large-8 columns">
                <div class="callout" data-equalizer-watch>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="middle-label" class="text-right middle">Número de Estudiantes</label>
                        </div>
                        <div class="large-3 end columns">
                            <select ng-model="vm.service.numStudents">
                                <option ng-repeat="n in [] | range:4" value="{{$index+1}}">{{$index+1}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="middle-label" class="text-right middle">Número de Meses</label>
                        </div>
                        <div class="large-3 end columns">
                            <select ng-model="vm.service.months">
                                <option ng-repeat="n in [] | range:12" value="{{$index+1}}">{{$index+1}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="middle-label" class="text-right middle">Número sesiones por semana</label>
                        </div>
                        <div class="large-3 end columns">
                            <select ng-model="vm.service.sessionsPerWeek" ng-change="vm.changeSessionsPerWeek()">
                                <option ng-repeat="n in [] | range:4" value="{{$index+2}}">{{$index+2}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="middle-label" class="text-right middle">Fecha de Inicio</label>
                        </div>
                        <div class="large-4 end columns">
                            <input type="date" id="middle-label" ng-model="vm.service.startDate" min="{{vm.today}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="startTime" class="text-right middle">Hora de Inicio</label>
                        </div>
                        <div class="large-3 end columns">
                            <input type="text" id="startTime" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="description">Descripción</label>
                            <textarea name="description" id="description" rows="5" ng-model="vm.service.description" placeholder="Usa este espacio para contarnos todos los detalles de las necesidades que tienes."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <center>
                                <div class="button-group">
                                    <a ng-repeat="day in vm.daysOfWeek track by $index" class="button" ng-disabled="vm.disableDayOfWeekButton($index)" ng-class="vm.service.daysOfWeek[$index] ? 'success' : ''"
                                        ng-click="vm.selectDayOfWeek($index)">{{day.label}}</a>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="callout" data-equalizer-watch>
                    <div class="row">
                        <div class="large-offset-1 large-10 columns">
                            <div class="callout warning">
                                <p>Costo total del servicio</p>
                                <div class="stat">$ {{vm.cost.total.toLocaleString()}}</div>
                            </div>
                        </div>
                    </div>
                    <div id="summary" class="row">
                        <div class="large-12 columns">
                            <ul>
                                <li>
                                    <p>Numero de Meses:
                                        <div class="stat">{{vm.service.months}}</div>
                                    </p>
                                </li>
                                <li>
                                    <p>Numero de Sesiones por Semana:
                                        <div class="stat">{{vm.service.sessionsPerWeek}}</div>
                                    </p>
                                </li>
                                <li>
                                    <p>Total de Sesiones:
                                        <div class="stat">{{vm.service.months * 4 * vm.service.sessionsPerWeek}}</div>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-offset-2 large-8 end columns">
                            <button class="button success expanded" ng-click="vm.createService()">Solicitar Servicio</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="large-offset-5 large-2 end columns">
                <button class="button primary expanded" ng-if="!vm.showSessions" ng-click="vm.showSessions = true">Personalizar sesiones</button>
                <button class="button primary expanded" ng-if="vm.showSessions" ng-click="vm.showSessions = false">Cerrar Vista</button>
            </div>
        </div>

        <div class="row" ng-if="vm.showSessions">
            <div class="large-8 end columns">
                <table class="dashboard-table">
                    <thead>
                        <tr>
                            <th width="300">Sesión</th>
                            <th width="300">Fecha</th>
                            <th width="300">Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="session in vm.sessions track by $index">
                            <td>
                                Sesión {{$index + 1}}
                            </td>
                            <td>
                                {{session.startDateToShow}}
                            </td>
                            <td>
                                {{session.startTime}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- SPECIFIC TOPIC SERVICE -->
    <div id="specific-subject-service" ng-show="vm.service.type === 2 && !vm.successCreateService">
        <div class="summary-header">
            <div class="marketing-site-hero">
                <div class="marketing-site-hero-content">
                    <h1>Tema Específico</h1>
                    <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!
                    </p>
                    <a href="" class="round button" ng-click="vm.reset()">Volver</a>
                </div>
            </div>
        </div>

        <div class="row" data-equalizer>
            <div class="large-8 columns" ng-show="vm.specificStep===1">
                <div class="callout" data-equalizer-watch>
                    <form name="specificStep1" novalidate>
                        <div class="row">
                            <div class="large-6 columns">
                                <label for="middle-label" class="text-right middle">Materia</label>
                            </div>
                            <div class="large-3 end columns">
                                <select id="course" name="course" ng-options="course as course.courseName for course in vm.courses track by course.id" ng-model="vm.service.course"
                                    required>                                
                                </select>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label for="middle-label" class="text-right middle">Número de estudiantes</label>
                            </div>
                            <div class="large-3 end columns">
                                <select ng-model="vm.service.numStudents" required>
                                <option ng-repeat="n in [] | range:4" value="{{$index+1}}">{{$index+1}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label for="middle-label" class="text-right middle">Número de sesiones</label>
                            </div>
                            <div class="large-3 end columns">
                                <select ng-model="vm.service.numSessions" required>
                                <option ng-repeat="n in [] | range:20" value="{{$index+1}}">{{$index+1}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label for="middle-label" class="text-right middle">Duración por sesión</label>
                            </div>
                            <div class="large-3 end columns">
                                <select ng-model="vm.service.timePerSession" required>
                                <option ng-repeat="n in [] | range:7" value="{{$index+2}}">{{$index+2}} horas</option>
                            </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label for="description">Descripción</label>
                                <textarea name="description" id="description" rows="5" ng-model="vm.service.description" placeholder="Usa este espacio para contarnos todos los detalles de las necesidades que tienes."
                                    required></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-2 large-offset-5 columns">
                                <button class="button expanded" ng-click="vm.specificStep=2" ng-disabled="specificStep1.$invalid">Continuar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="large-8 columns" ng-show="vm.specificStep===2">
                <tabset>
                    <tab heading="Especifico" active="vm.tabSpecific">
                    </tab>
                    <tab heading="Estático" active="vm.tabStatic">
                    </tab>
                </tabset>
                <div class="callout" ng-show="vm.tabSpecific">
                    <table class="dashboard-table">
                        <thead>
                            <tr>
                                <th width="300">Sesión</th>
                                <th width="300">Fecha de Inicio</th>
                                <th width="300">Hora de Inicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="session in vm.sessions track by $index">
                                <td>
                                    Sesión {{$index + 1}}
                                </td>
                                <td>
                                    <input type="date" ng-model="session.startDate">
                                </td>
                                <td>
                                    <input type="text" id="startTime{{$index}}">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="callout" ng-show="vm.tabStatic">
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="middle-label" class="text-right middle">Número sesiones por semana</label>
                        </div>
                        <div class="large-3 end columns">
                            <select ng-model="vm.service.sessionsPerWeek" ng-change="vm.changeSessionsPerWeek()">
                                <option ng-repeat="n in [] | range:4" value="{{$index+2}}">{{$index+2}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="middle-label" class="text-right middle">Fecha de Inicio</label>
                        </div>
                        <div class="large-4 end columns">
                            <input type="date" id="middle-label" ng-model="vm.service.startDate" min="{{vm.today}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label for="startTime" class="text-right middle">Hora de Inicio</label>
                        </div>
                        <div class="large-3 end columns">
                            <input type="text" id="startTime">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <center>
                                <div class="button-group">
                                    <a ng-repeat="day in vm.daysOfWeek track by $index" class="button" ng-disabled="vm.disableDayOfWeekButton($index)" ng-class="vm.service.daysOfWeek[$index] ? 'success' : ''"
                                        ng-click="vm.selectDayOfWeek($index)">{{day.label}}</a>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 large-centered columns">
                        <button class="button secondary" ng-click="vm.specificStep=1">Atras</button>
                        <button class="button" ng-click="vm.specificStep=3">Siguiente</button>
                    </div>
                </div>
            </div>

            <div id="upload-files" class="large-8 columns" ng-show="vm.specificStep===3">
                <div class="callout">
                    <input id="file-real-input" type="file" ng-show="false" accept=".docx,.xls,.xlsx,.png,image/*" file-reader="vm.advisoryFile">
                    <p>Para mejorar el servicio de TuProfe, puedes adjuntar cualquier archivo adicional que sea de ayuda para
                        que el profesor pueda preparar las sesiones que tendrá contigo. Pueden ser talleres, ejemplos, ejercicios.
                        No hay límite! Lo que más queremos es ayudarte</p>
                    <ul>
                        <li ng-repeat="file in vm.files">
                            <img src="{{vm.getFileImg(file.type)}}" alt=""> {{file.name}}
                        </li>
                    </ul>
                    <center>
                        <button class="button" ng-click="vm.addFile()">
                            Adjuntar archivo
                        </button>
                    </center>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="callout" data-equalizer-watch>
                    <div class="row">
                        <div class="large-offset-1 large-10 columns">
                            <div class="callout warning">
                                <p>Costo total del servicio</p>
                                <div class="stat">$ {{vm.cost.total.toLocaleString()}}</div>
                            </div>
                        </div>
                    </div>
                    <div id="summary" class="row">
                        <div class="large-12 columns">
                            <ul>
                                <li>
                                    <p>Numero de Estudiantes:
                                        <div class="stat">{{vm.service.numStudents}}</div>
                                    </p>
                                </li>
                                <li>
                                    <p>Numero de Sesiones:
                                        <div class="stat">{{vm.service.numSessions}}</div>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-offset-2 large-8 end columns">
                            <button class="button success expanded" ng-click="vm.createService()">Solicitar Servicio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>


    </div>

    <!-- SUMMARY SERVICE -->
    <div id="summary-service" ng-show="vm.successCreateService">
        <div class="row">
            <div class="large-6 large-offset-3 end columns">
                <div class="card">
                    <div class="card-divider">
                        Resumen del Servicio
                    </div>
                    <div class="card-section">
                        <p>Fecha de Solicitud <strong class="float-right">{{vm.createdService.createdAt}}</strong></p>
                        <p>Número de sesiones <strong class="float-right">{{vm.createdService.sessions.length}}</strong></p>
                        <p>Fecha de la primera sesión <strong class="float-right">{{vm.createdService.sessions[0].startDate}}</strong></p>
                        <p>Fecha de la ultima sesión <strong class="float-right">{{vm.createdService.sessions[vm.createdService.sessions.length-1].startDate}}</strong></p>
                        <hr>
                        <p ng-show="vm.createdService.type===1">Costo por mes <strong class="float-right">$ {{vm.createdService.cost.costPerMonth.toLocaleString()}}</strong></p>
                        <p ng-show="vm.createdService.type===2">Costo por hora <strong class="float-right">$ {{vm.createdService.cost.costPerHour.toLocaleString()}}</strong></p>
                        <p>Total a Pagar <strong class="float-right">$ {{vm.createdService.cost.total.toLocaleString()}}</strong></p>
                    </div>
                    <div class="card-section">
                        <center>
                            <form id="frm_botonePayco" name="frm_botonePayco" method="post" action="https://secure.payco.co/checkout.php">
                                <input name="p_cust_id_cliente" type="hidden" value="13529">
                                <input name="p_key" type="hidden" value="13b33c524c09d964014cbeb4ec1a0b0f05956354">
                                <input name="p_id_invoice" type="hidden" value="">
                                <input name="p_description" type="hidden" value="Servicio de Acompañamiento TuProfe">
                                <input name="p_currency_code" type="hidden" value="COP">
                                <input name="p_amount" id="p_amount" type="hidden" value="{{vm.createdService.cost.total}}">
                                <input name="p_tax" id="p_tax" type="hidden" value="0">
                                <input name="p_amount_base" id="p_amount_base" type="hidden" value="0">
                                <input name="p_test_request" type="hidden" value="FALSE">
                                <input name="p_url_response" type="hidden" value="">
                                <input name="p_url_confirmation" type="hidden" value="">
                                <input name="p_signature" type="hidden" id="signature" value="29c56d8f58fea3832b8d6db9948662ad" />
                                <input name="idboton" type="hidden" id="idboton" value="2082" />
                                <input type="image" id="imagen" src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn4.png"
                                />
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <center>
                    <button class="button" ng-click="vm.reset();">Solicitar Otro Servicio</button>
                </center>
            </div>
        </div>
    </div>
</div>