<div id="service-history" ng-controller="StudentServiceHistoryController as vm">
    <div class="row">
        <h1>
            Historial de Asesorias
        </h1>
    </div>

    <div class="row empty-state" ng-if="vm.services.length <= 0">
        <div class="large-12 end columns">
            <img src="images/utils/line-chart.svg" alt="">
            <h3>Solicita tu primara asesoria!</h3>
            <p>Estas muy cerca de comenzar a disfrutar de un éxito académico sin límites con TuProfe, solicita tu primera asesoria
                haciendo clic en el botón.</p>                
            <button class="button" ng-click="$scope.$parent.section = 'request-advisory'">Solicitar Asesoria</button>
        </div>
    </div>

    <div class="row" ng-if="vm.services.length > 0">
        <div class="large-12 columns">
            <table class="dashboard-table">
                <colgroup>
                    <col width="60">
                    <col width="100">
                    <col width="150">
                    <col width="50">
                    <col width="60">
                    <col width="60">
                    <col width="100">
                    <col width="150">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th ng-click="vm.sortBy('createdAt')"><a href="">Fecha <i class="fa fa-caret-down"></i></a></th>
                        <th><a href="">Estado <i class="fa fa-caret-down"></i></a></th>
                        <th><a href="">Estudiantes <i class="fa fa-caret-down"></i></a></th>
                        <th><a href="">Sesiones <i class="fa fa-caret-down"></i></a></th>
                        <th><a href="">Ciudad <i class="fa fa-caret-down"></i></a></th>
                        <th><a href="">Valor <i class="fa fa-caret-down"></i></a></th>
                    </tr>
                </thead>
                <tbody ng-repeat="service in vm.services | orderBy : vm.propertyName : vm.reverse track by $index">

                    <tr ng-click="vm.selectService(service)">
                        <td>
                            <i ng-if="service !== vm.selectedService" class="fa fa-chevron-right" aria-hidden="true"></i>
                            <i ng-if="service === vm.selectedService" class="fa fa-chevron-down" aria-hidden="true"></i>
                        </td>
                        <td>
                            <img src="images/studentProfile/serviceHistory/learning.svg" alt="" ng-show="service.type===1" style="max-width:45px">
                            <img src="images/studentProfile/serviceHistory/scientist.svg" alt="" ng-show="service.type===2" style="max-width:45px">
                        </td>
                        <td>
                            <div class="flex-container align-justify align-top">
                                <span class="dashboard-table-timestamp">{{service.createdAt}}</span>
                            </div>
                        </td>
                        <td>{{service.state}}</td>
                        <td>{{service.numStudents}}</td>
                        <td>{{service.sessions.length}}</td>
                        <td>
                            {{service.city.name}}
                        </td>
                        <td class="listing-inquiry-status">
                            <div>$ {{service.cost.total.toLocaleString()}}</div>
                            <form ng-if="service.state === 1" id="frm_botonePayco" name="frm_botonePayco" method="post" action="https://secure.payco.co/checkout.php">
                                <input name="p_cust_id_cliente" type="hidden" value="13529">
                                <input name="p_key" type="hidden" value="13b33c524c09d964014cbeb4ec1a0b0f05956354">
                                <input name="p_id_invoice" type="hidden" value="{{service.id}}">
                                <input name="p_description" type="hidden" value="Servicio de Acompañamiento de TuProfe">
                                <input name="p_currency_code" type="hidden" value="COP">
                                <input name="p_amount" id="p_amount" type="hidden" value="{{service.cost.total}}">
                                <input name="p_tax" id="p_tax" type="hidden" value="0">
                                <input name="p_amount_base" id="p_amount_base" type="hidden" value="0">
                                <input name="p_test_request" type="hidden" value="FALSE">
                                <input name="p_url_response" type="hidden" value="http://localhost:8081/#!/student-profile">
                                <input name="p_url_confirmation" type="hidden" value="{{vm.TU_PROFE_API}}/payments">
                                <input name="p_confirm_method" type="hidden" value="POST">
                                <input name="p_signature" type="hidden" id="signature" value="{{service.signature}}" />
                                <input name="idboton" type="hidden" id="idboton" value="2552" />
                                <input type="image" id="imagen" src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn4.png"
                                />
                                <input name="p_billing_document" type="hidden" value="{{vm.student.identification}}">
                                <input name="p_billing_name" type="hidden" value="{{vm.student.name}}">
                                <input name="p_billing_lastname" type="hidden" value="{{vm.student.lastName}}">
                                <input name="p_billing_address" type="hidden" value="{{vm.student.address}}">
                                <input name="p_billing_email" type="hidden" value="{{vm.student.email}}">
                                <input name="p_billing_cellphone" type="hidden" value="{{vm.student.cellPhone}}">
                            </form>
                        </td>
                    </tr>
                    <tr ng-show="vm.selectedService === service">
                        <td colspan="8">
                            <div class="row">
                                <div class="large-3 columns" ng-if="false">
                                    <h5>Opciones</h5>
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <center>
                                                <button class="button">Ver Calendario</button>
                                                <button class="button">Ver Lista</button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-12 columns">
                                    <h5>Sesiones</h5>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Duración</th>
                                                <th>Estado</th>
                                                <th>Profesor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="session in service.sessions track by $index">
                                                <td>Sesión {{$index + 1}}</td>
                                                <td>{{session.startDateToShow}}</td>
                                                <td>{{session.startTime}}</td>
                                                <td>{{session.numHours}} Horas</td>
                                                <td><span class="label">{{session.state.label}}</span></td>
                                                <td>{{session.teacher ? session.teacher.name : service.teacher.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>