<div id="service-history">
    <div class="row">
        <h1>
            Historial de Asesorias
        </h1>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Fecha</th>
                        <th>Profesor</th>
                        <th>Estudiantes</th>
                        <th>Horas</th>
                        <th>Ciudad</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>13/04/2017</td>
                        <td>Fidel Olarte</td>
                        <td>4</td>
                        <td>3</td>
                        <td>Bogotá</td>
                        <td>$ 45.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>