<div id="student-profile" class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper ng-controller="StudentProfileController as vm">

        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">            
            <ul id="menu">
                <li ng-click="vm.section = 'profile'" ng-class="vm.menuLiClass('profile')">
                    <i class="fa fa-link" aria-hidden="true"></i> Perfil
                </li>
                <li ng-click="vm.section = 'request-advisory'" ng-class="vm.menuLiClass('request-advisory')">
                    <i class="fa fa-link" aria-hidden="true"></i> Solicitar Asesoría
                </li>
                <li ng-click="vm.section = 'service-history'" ng-class="vm.menuLiClass('service-history')">
                    <i class="fa fa-link" aria-hidden="true"></i> Historial de Servicios
                </li>
                <li ng-click="vm.section = 'calendar'" ng-class="vm.menuLiClass('calendar')">
                    <i class="fa fa-link" aria-hidden="true"></i> Calendario
                </li>
                <li ng-click="vm.section = 'notifications'" ng-class="vm.menuLiClass('notifications')">
                    <i class="fa fa-link" aria-hidden="true"></i> Notificaciones
                </li>
                <li ng-click="vm.logout()">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Cerrar sesión
                </li>
            </ul>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>

            <ng-include src="'views/studentProfile/profile.html'" ng-if="vm.section === 'profile'">
            </ng-include>

            <ng-include src="'views/studentProfile/serviceHistory.html'" ng-if="vm.section === 'service-history'">
            </ng-include>  
            
            <ng-include src="'views/studentProfile/calendar.html'" ng-if="vm.section === 'calendar'">
            </ng-include>  
            
            <ng-include src="'views/studentProfile/requestAdvisory.html'" ng-if="vm.section === 'request-advisory'">
            </ng-include>  
            
            <ng-include src="'views/studentProfile/notifications.html'" ng-if="vm.section === 'notifications'">
            </ng-include>  

        </div>

    </div>
</div>