<div id="about-us">
    <section id="about-us-section-1">
        <div class="title">
            <div class="row">
                <h1>Quienes Somos</h1>
            </div>
        </div>
    </section>

    <section id="about-us-section-2">
        <div class="row">
            <div class="large-12 columns">
                <tabset>
                    <tab heading="Misión" active="vm.tabSpecific">
                    </tab>
                    <tab heading="Visión" active="vm.tabStatic">
                    </tab>
                    <tab heading="Valores" active="vm.tabStatic">
                    </tab>
                    <tab heading="Nuestra Metodología" active="vm.tabStatic">
                    </tab>
                </tabset>
            </div>
        </div>
    </section>
</div>