<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="orbit-slide is-active">
            <img src="http://placehold.it/2000x750">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750">
        </li>
    </ul>
</div>

<div class="row column text-center">
    <h2>TU PROFE</h2>
    <p>Brindamos asesorías académicas personalizadas y a domicilio en toda Bogotá, para estudiantes de colegio, universitarios, posgrado y cursos técnicos.</p>
    <hr>
</div>

<div class="row small-up-2 large-up-4">
    <div class="column">
        <img class="thumbnail" src="http://www.tu-profe.com/uploads/default/home_outstanding/f55cbf69e8562055e6d54fecae3c393c.jpg">
        <h5>Hacemos énfasis en:
            <ul>
                <li>Hábitos de estudio</li>
                <li>Comprensión de lectura</li>
                <li>Preparación de exámenes</li>
                <li>Pensamiento analítico</li>
            </ul>
        </h5>
        <a href="#" class="button expanded">ACOMPAÑAMIENTO ACADÉMICO</a>
    </div>
    <div class="column">
        <img class="thumbnail" src="http://www.tu-profe.com/uploads/default/home_outstanding/f55cbf69e8562055e6d54fecae3c393c.jpg">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button expanded">Buy</a>
    </div>
    <div class="column">
        <img class="thumbnail" src="http://www.tu-profe.com/uploads/default/home_outstanding/e08b945868137d9e84729897e98db23d.jpg">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button expanded">Buy</a>
    </div>
    <div class="column">
        <img class="thumbnail" src="http://www.tu-profe.com/uploads/default/home_outstanding/f55cbf69e8562055e6d54fecae3c393c.jpg">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button expanded">Buy</a>
    </div>
</div>