<div id="home">
    <section id="home-section-2">
        <div class="row column text-center">
            <h1>TU PROFE</h1>
            <p>Brindamos asesorías académicas personalizadas y a domicilio en toda Bogotá, para estudiantes de colegio, universitarios, posgrado y cursos técnicos.</p>
        </div>
    </section>

    <section id="home-section-3">

        <h2>Nuestros Servicios</h2>

        <div class="row small-up-2 large-up-4">
            <div class="column">
                <div class="service">
                    <img src="images/home/service_1.jpg">
                    <a href="#" class="button expanded">ACOMPAÑAMIENTO ACADÉMICO</a>
                    <h5>Hacemos énfasis en:</h5>
                    <ul>
                        <li>Hábitos de estudio</li>
                        <li>Comprensión de lectura</li>
                        <li>Preparación de exámenes</li>
                        <li>Pensamiento analítico</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="service">
                    <img src="images/home/service_2.jpg">
                    <a href="#" class="button expanded">ASESORÍAS PARA COLEGIO</a>
                    <ul>
                        <li>Matemáticas, Álgebra, Trigonometría y Cálculo</li>
                        <li>Química</li>
                        <li>Física</li>
                        <li>Sistemas y Programación</li>
                        <li>Estadística</li>
                        <li>Clases en Inglés</li>
                        <li>Entre otras</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="service">
                    <img src="images/home/service_3.jpg">
                    <a href="#" class="button expanded">ASESORÍAS UNIVERSITARIAS</a>
                    <ul>
                        <li>Materias de profundización</li>
                        <li>Cálculos</li>
                        <li>Químicas</li>
                        <li>Físicas</li>
                        <li>Estadística</li>
                        <li>Probabilidad </li>
                        <li>Álgebra Lineal</li>
                        <li>Ecuaciones Diferenciales</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="service">
                    <img src="images/home/service_4.jpg">
                    <a href="#" class="button expanded">TRABAJA CON NOSOTROS</a>
                    <p>¿Eres un estudiante universitario y quieres obtener ingresos adicionales en tu tiempo libre? Puedes hacer parte de nuestro equipo</p>
                </div>
            </div>
        </div>
    </section>

    <section id="home-section-4">
        <h2>Medios</h2>
        <img src="images/home/salvemos_a_cristian.jpg" alt="">
    </section>
</div>