<div id="price-quote" ng-controller="PriceQuoteController as vm">
    <section id="price-qoute-section-1">
        <h1>
            Simple, Precios flexibles
        </h1>
        <p>
            Puedes cotizar nuestros servicios <strong>tu mismo</strong> o puedes <a href="">iniciar sesión</a> para pedir
            ya tu asesoria.
        </p>
    </section>

    <section id="price-quote-section-2">
        <div class="row">
            <div class="large-7 columns">
                <div class="row">
                    <p>¿Cuál es el número de estudiantes?</p>
                </div>
                <div class="row">
                    <rzslider rz-slider-model="vm.numberStudentsSlider.value" rz-slider-options="vm.numberStudentsSlider.options">
                    </rzslider>
                </div>
                <br>
                <div class="row">
                    <p>¿Cuál es el número de horas?</p>
                </div>
                <div class="row">
                    <rzslider rz-slider-model="vm.numberHoursSlider.value" rz-slider-options="vm.numberHoursSlider.options"></rzslider>
                </div>
            </div>
            <div class="large-5 columns">
                <br>
                <div class="card">
                    <div class="card-section">
                        Estima el número de horas que requieres para la asesoría y el núumero de estudiantes que desean asistir, así Tu Profe puede
                        buscar un mejor plan para ti.
                    </div>
                    <div class="card-section">
                        <button class="button">
                            Solicitar Servicio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="price-quote-section-3">
        <div class="row">
            <div class="large-4 columns">
                <div class="callout secondary">
                    <h4>Acompañamiento</h4>
                    <div class="stat animated flash" ng-show="vm.showPrices">$ {{vm.advisoryServices[0].cost.baseCost.toLocaleString()}}</div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="callout secondary">
                    <h4>Acompañamiento</h4>
                    <div class="stat animated flash" ng-show="vm.showPrices">$ {{vm.advisoryServices[1].cost.baseCost.toLocaleString()}}</div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="callout secondary">
                    <h4>Materias Especializadas</h4>
                    <div class="stat animated flash" ng-show="vm.showPrices">$ {{vm.advisoryServices[2].cost.baseCost.toLocaleString()}}</div>
                </div>
            </div>
        </div>
    </section>
</div>