<div id="price-quote" ng-controller="PriceQuoteController as vm">
    <section id="price-qoute-section-1">
        <h1>
            Simple, Precios flexibles
        </h1>
        <p>
            Send up to <strong>40,000 emails for free</strong> with our 30-day trial—no credit card required. <a href="">Try for Free ›</a>
        </p>
    </section>

    <section id="price-quote-section-2">
        <div class="row">
            <div class="large-7 columns">
                <div class="row">
                    <div id="slider" class="slider" data-slider data-initial-start="10">
                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="val"></span>
                        <span class="slider-fill" data-slider-fill></span>
                    </div>
                </div>
            </div>
            <div class="large-5 columns">
                <div class="card">
                    <div class="card-section">
                        Estima el número de horas que requieres para la asesoría y el núumero de estudiantes que desean asistir, así Tu Profe puede
                        buscar un mejor plan para ti.
                    </div>
                    <div class="card-section">
                        <button class="button">
                            Solicitar Servicio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>