<div id="team">
    <section id="team-section-1">
        <div class="title">
            <div class="row">
                <h1>Equipo de Trabajo</h1>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <p>
                    Contamos con más de 100 profesores disponibles para cubrir todas tus necesidades académicas. Nuestros profesores son estudiantes universitarios de sexto semestre en adelante con excelentes resultados académicos. Dale clic al icono y descarga la hoja de
                    vida para vincularte como profesor!
                </p>
                <a href="https://d1ql3lvdg7tehd.cloudfront.net/formats/hoja-vida-profesores.docx">
                    <img src="images/home/docs.svg" alt="">
                </a>
            </div>
        </div>
    </section>

    <section id="team-section-2">
        <div class="row">
            <div class="large-10 columns">
                <h4>Ariana Carolina Mendez Pulido</h4>
                <hr>
                <i class="fa fa-graduation-cap"><h6>Ingeniería Electrónica</h6></i>
                <hr>
                <p>
                    Soy estudiante de ingeniería electrónica estoy cursando mis últimos semestres, ingresé a la universidad en el 2012, me gradué de bachillerato en el 2011. Soy una persona responsable, sincera y trabajadora, intento dar mi conocimiento según el nivel de
                    conocimiento de la otra persona, pongo el máximo de mi esfuerzo para entender y resolver las dudas que surgen en las demás personas, soy bastante tolerante porque la forma de entender de todos no es la misma, doy todo mi apoyo al ayudar
                    a una persona.
                </p>
            </div>
            <div class="large-2 columns">
                <img src="http://www.tu-profe.com/uploads/default/about_us_multiples/465d6c1791bcef7044aeffd417aa94fa.jpg" alt="">
            </div>
        </div>
    </section>
</div>