<footer ng-controller="FooterController as vm" ng-hide="vm.hideFooter()">
    <div class="row">
        <div class="large-3 columns">
            <h6>SERVICIOS</h6>
            <a href="">
                <p>Acompañamiento académico</p>
            </a>
            <a href="">
                <p>Asesorías para colegio</p>
            </a>
            <a href="">
                <p>Asesorías universitarias</p>
            </a>
        </div>
        <div class="large-3 columns">
            <h6>LINKS DE INTERES</h6>
            <a href="">
                <p>Nosotros</p>
            </a>
            <a href="#!/team">
                <p>Equipo de trabajo</p>
            </a>
            <a href="">
                <p>Actualidad</p>
            </a>
            <a href="">
                <p>Preguntas Frecuentes</p>
            </a>
        </div>
        <div class="large-3 columns">
            <h6>TRABAJA CON NOSOTROS</h6>
            <a href="#!/teacher-sign-up">
                <p>Registro Profesor</p>
            </a>
        </div>
        <div class="large-3 columns">
            <h6>CONTACTANOS</h6>
            <a href="">
                <p>asesorias@tu-profe.com</p>
            </a>
            <a href="">
                <p>314 438 2058</p>
            </a>
            <div class="row">
                <a href=""><img src="images/home/facebook.svg" alt=""></a>
                <a href=""><img src="images/home/twitter.svg" alt=""></a>
                <a href=""><img src="images/home/instagram.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>