<header ng-controller="HeaderController as vm" ng-hide="vm.hideHeader()">
    <div class="row">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">
                        <a id="main-logo" href="/">
                            <img src="images/home/logo.jpg" alt="">
                        </a>
                    </li>
                    <li ng-if="isAuthenticated()"><a href="#/dashboard">Dashboard</a></li>
                    <li ng-if="isAuthenticated()"><a href="#/route/create">Crear Ruteo</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" dropdown-menu>
                    <li><a href="/login">SOLICITA TU ASESORÍA</a></li>
                    <li ng-if="!isAuthenticated()"><a href="#!/login">Iniciar sesión</a></li>
                    <li ng-if="isAuthenticated()">
                        <a href="">{{user.name}}</a>
                        <ul class="menu">
                            <li><a href="" ng-click="logout()">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>